
body {
  margin:0px;
}

ul {
    list-style: none;
    padding:0px;
    margin:0px;
}

.positionButton {
  position: absolute;
  top:10px;
  right: 10px;
}

.navbarFondo{
  background-color: rgb(3, 3, 56);
}

.positionLabel{
  margin: 10px;
 
}

.tamañoFuente{
  font-family: Arial, Helvetica, sans-serif;
  font-weight:100;
}

.navbarButton{
  background-color:rgba(255, 0, 106, 0.822);
  color:white;
  cursor:pointer;
  padding: 1px;
  border-color:hsla(320, 100%, 50%, 0.692);
  border-radius: 10px;
  margin-left: 8px;
}

.navbarButton > casilla {
  margin-left: 10px;
}

.navbarButton:hover{
  cursor:pointer;
  box-shadow: 2px 1px;
  transform:scale(1.1);
}

.logo {
  height:100px;
  border-radius: 50px;
}

.bloqueAside{
  background-color: rgb(3, 3, 56);
  float:right;
  margin: 0px 50px 0px 0px;
}

.casilla{
  
  border-radius: 8px;
  border: 1px solid grey;
  padding: 2px;
}


.casilla:focus-within{
  border: 1px solid rgb(248, 6, 127);
}

.seccionBusqueda{
  margin-top: 20px;
  margin-left: 20px;
  margin-right: 250px;
  line-height: 40px;
}